<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>293784656227-4n5r0ac24pubi94tv0do4qn467s0msl4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.293784656227-4n5r0ac24pubi94tv0do4qn467s0msl4</string>
	<key>API_KEY</key>
	<string>AIzaSyC-3pbMZ_I0D-Sjb4N6ADo0enayl-Sdys8</string>
	<key>GCM_SENDER_ID</key>
	<string>293784656227</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.brianaguirre.Par-4-Fantasy-Golf</string>
	<key>PROJECT_ID</key>
	<string>par-4-fantasy-golf</string>
	<key>STORAGE_BUCKET</key>
	<string>par-4-fantasy-golf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:293784656227:ios:6768203439ae3afc639b56</string>
</dict>
</plist>